.editableText {
  display: flex;
}

.editableText > :first-child {
  flex-grow: 1;
  margin-right: 0.5rem;
}

.editableText input {
  min-width: 0;
}

.editableText span {
  background-color: whitesmoke;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.editableText button {
  padding: 0.25rem;
  border-radius: 0.25rem;
  border-color: whitesmoke;
  background-color: whitesmoke;
  border-style: solid;
}
